fastapi
uvicorn
python-multipart
python-dotenv
websockets
av
rapidfuzz

onnxruntime
transformers
librosa
soundfile
sentencepiece
accelerate
huggingface_hub

--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchaudio
